* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.conteiner {
  background-color: bisque;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: "header"
                        "main"; 
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  min-height: 200px;
}

.header>h1 {
  justify-self: flex-start;
  align-self: center;
  padding: 20px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5px;
 
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  border-radius: 50px;
  color: white;
  background-color: rgba(6, 196, 6, 0.618);
  font-size: 1.5rem;
  border-width: 0px;


}

.main {
  grid-area: main;

}

.main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap:10px;
  padding-bottom: 40px; 
}

.main-elem {
  width: 200px;
  height: 200px;
  background-color: rgb(160, 14, 222);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball {
  width: 50px;
  height: 50px;
  background-color: aqua;
  border-radius: 50%;
}