* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.text-view {
  color: white;
  font-size: 1.5rem;
  border-width: 0px;
}
.conteiner {
  background-color: bisque;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: "header"
                        "main"; 
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 200px;
}

.header>h1 {
  justify-self: flex-start;
  align-self: center;
  padding: 20px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5px;
 
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  border: 0px;
  background-color: rgba(6, 196, 6, 0.618);
  transition-property: transform,background-color,color;
  transition-duration: 2000ms;
  
}

.nav-btn:hover {
  transform: scale(1.2);
  background-color: rgba(216, 235, 11, 0.618);
  color:rgba(0, 0, 0, 0.618);
}

.main {
  grid-area: main;

}

.main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap:10px;
  
}

.main-elem {
  width: 17%;
  min-width: 100px;
  height: 150px;
  background-color: rgb(160, 14, 222);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: transform;
  transition-duration: 3000ms;
  animation-play-state: paused;
  animation-timing-function: ; 
}

.main-elem:hover {
  transform: rotate(180deg);
}

.ball-wrapper {
  max-width: 1200px;
  min-height: 200px;
  position: relative;
}

.ball {
  width: 40px;
  height: 40px;
  background-color: rgb(23, 229, 229);
  border-radius: 50%;
  position : relative;
  animation: jumping-ball;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

.ball:hover {
  animation-play-state: paused;
}


@keyframes jumping-ball {
  0%{
    left: 0%;
    top: 0px;
    background-color: rgb(23, 229, 229);
  }

   20%{
    left: 20%;
    top: 100px;
    background-color: rgb(136, 164, 106);
  }

  30%{
    left: 30%;
    top: 0px;
    background-color: rgb(121, 56, 114);
  }

  40%{
    left: 40%;
    top: 100px;
    background-color: rgb(0, 255, 208);
  }

  50%{
    left: 50%;
    top: 0px;
    background-color: rgb(97, 5, 246);
  }

  60%{
    left: 60%;
    top: 100px;
    background-color: rgb(236, 10, 29);
  }

  70%{
    left: 70%;
    top: 00px;
    background-color: rgb(23, 229, 50);
  }

  80%{
    left: 80%;
    top: 100px;
    background-color: rgb(229, 184, 23);
  }

  100%{
    left: 95%;
    top: 0px;
    background-color: rgb(226, 23, 229);
  }
}

@media screen and (max-width: 480px) {
  .header>h1 {
    font-size: 1.5rem;
  }

}