* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.text-view {
  color: white;
  font-size: 1.5rem;
  border-width: 0px;
}
.conteiner {
  background-color: bisque;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: "header"
                        "main"; 
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 200px;
}

.header>h1 {
  justify-self: flex-start;
  align-self: center;
  padding: 20px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5px;
 
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  border: 0px;
  background-color: rgba(6, 196, 6, 0.618);
  transition-property: transform,background-color,color;
  transition-duration: 2000ms;
  
}

.nav-btn:hover {
  transform: scale(1.2);
  background-color: rgba(216, 235, 11, 0.618);
  color:rgba(0, 0, 0, 0.618);
}

.main {
  grid-area: main;

}

.main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap:10px;
  padding: 40px;
  
}

.main-elem {
  width: 17%;
  min-width: 100px;
  height: 150px;
  background-color: rgb(160, 14, 222);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: transform;
  transition-duration: 3000ms;
  animation-play-state: paused;
  margin: 5px 0;
}

.main-elem:hover {
  transform: rotate(180deg);
}

.ball {
  width: 50px;
  height: 50px;
  background-color: aqua;
  border-radius: 50%;
}

@keyframes jumping-ball {
  0%{
    
  }

  10%{
    
  }

  20%{
    
  }

  30%{
    
  }

  40%{
    
  }

  50%{
    
  }

  60%{
    
  }

  70%{
    
  }

  80%{
    
  }

  90%{
    
  }

  100%{
    
  }
}

@media screen and (max-width: 480px) {
  .header>h1 {
    font-size: 1.5rem;
  }
}